@model ExpenseLink.ViewModels.NewRequestViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Expense</h2>
<button id="btnAddRow" class="btn btn-primary btn-group-sm">Add Row</button>
@using (Html.BeginForm("Create", "Request"))
{

    <table id="table" class="table	table-bordered	table-hover">
        <tr>
            <th>Receipt Number</th>
            <th>Receipt Date</th>
            <th>Item Description</th>
            <th>Amount</th>
            <th>Reimbursement Amount</th>
        </tr>        
        <tr>                        
            @for (int i = 0; i < Model.Receipts.Count(); i++)
            {
                <td> 
                    @Html.TextBoxFor(m => m.Receipts[i].ReceiptNo)            
                    @Html.ValidationMessageFor(m => m.Receipts[i].ReceiptNo)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Receipts[i].ReceiptDate, "dd/MM/yyyy", new {@placeholder="dd/mm/yyyy"})  
                    @Html.ValidationMessageFor(m => m.Receipts[i].ReceiptDate)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Receipts[i].ItemDescription)  
                    @Html.ValidationMessageFor(m => m.Receipts[i].ItemDescription)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Receipts[i].Amount)  
                    @Html.ValidationMessageFor(m => m.Receipts[i].Amount)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Receipts[i].ReimbursementAmount)
                    @Html.ValidationMessageFor(m => m.Receipts[i].ReimbursementAmount)
                </td>
                    @*<a href="javascript:void(0);" class="remRow">Remove</a>*@            
            }           

        </tr>
    </table>

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.Requester)
    <input type="submit" value="submit" class="btn btn-success btn-lg" />
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
        var $table = $('#table');
        $('#btnAddRow').click(function(e) {
            e.preventDefault();
            var rowCount = $('#table > tbody > tr').length-2;
            $('<tr><td><input type="text" name="Receipts[' + rowCount + '].ReceiptNo" /></td>' +
                '<td><input type="date" name="Receipts[' + rowCount + '].ReceiptDate" placeholder="mm/dd/yyyy" /></td>' +
                '<td><input type="text" name="Receipts[' + rowCount + '].ItemDescription" /></td>' +
                '<td><input type="text" name="Receipts[' + rowCount + '].Amount" /></td>' +
                '<td><input type="text" name="Receipts[' + rowCount + '].ReimbursementAmount" /></td>' +
                '</tr>').appendTo($table);
        });
    });

</script>