@model ExpenseLink.ViewModels.NewRequestViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Expense</h2>
<button id="btnAddField">Add Field</button>
@using (Html.BeginForm("Create", "Request"))
{
    

    @*<div id="fields"></div>*@

    <table id="table" class="table	table-bordered	table-hover">
        <tr>
            <th>Receipt Number</th>
            <th>Receipt Date</th>
            <th>Item Description</th>
            <th>Amount</th>
            <th>Reimbursement Amount</th>
        </tr>        
        <tr>                        
            @for (int i = 0; i < Model.Receipts.Count(); i++)
            {
                <td> 
                    @Html.TextBoxFor(model => Model.Receipts[i].ReceiptNo)            
                </td>
                <td>
                    @Html.TextBoxFor(model => Model.Receipts[i].ReceiptDate)  
                </td>
                <td>
                    @Html.TextBoxFor(model => Model.Receipts[i].ItemDescription)  
                </td>
                <td>
                    @Html.TextBoxFor(model => Model.Receipts[i].Amount)  
                </td>
                <td>
                    @Html.TextBoxFor(model => Model.Receipts[i].ReimbursementAmount)
                </td>

                    <a href="javascript:void(0);" class="remRow">Remove</a>
               
            }           

        </tr>
    </table>

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.Requester)
    <input type="submit" value="submit" class="btn btn-success btn-lg" />
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
        var $table = $('#table');
        $('#btnAddField').click(function(e) {
            e.preventDefault();
            var rowCount = $('#table > tbody > tr').length-2;
            $('<tr><td><input type="text" name="Receipts[' + rowCount + '].ReceiptNo" /></td>' +
                '<td><input type="text" name="Receipts[' + rowCount + '].ReceiptDate" /></td>' +
                '<td><input type="text" name="Receipts[' + rowCount + '].ItemDescription" /></td>' +
                '<td><input type="text" name="Receipts[' + rowCount + '].Amount" /></td>' +
                '<td><input type="text" name="Receipts[' + rowCount + '].ReimbursementAmount" /></td>' +
                '</tr>').appendTo($table);
        });
    });

</script>

@*@using (Html.BeginForm("Save", "Request"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m=>m.Customer.Name, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Birthday)
        @Html.TextBoxFor(m => m.Customer.Birthday,"{0: d MMM yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipType)
        @Html.DropDownListFor(m => m.Customer.MembershipType,
            new SelectList(Model.MembershipTypes,
                "Id", "Name"),
            "Select Membership Type", new {@class="form-control"})
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m=> m.Customer.IsSubscribedToNewsletter) Subscribed to Newsletter?
        </label>
    </div>
    @Html.HiddenFor(m=>m.Customer.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}*@